/* font face = anexa uma fonte ao projeto */
@font-face {
    /* font family = define o nome da fonte instalada */
    font-family: Roboto;
    /* src = onde essa fonte está localizada */
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Warzone;
    src: url(../fonts/warzone_2/Warzone.ttf);
}

/* geral */
*{
    padding: 0%;
    margin: 0%;
    font-family: Roboto, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: Warzone;
}

section{
    width: 100%;
    padding: 10px 0px;
    display: flex;
}

.tituloSection{
    text-align: center;
    font-weight: bold;
}

.subtituloSection{
    text-align: center;
    font-size: 10pt;
    color: gray;
}

/* header */

header{
    width: 100%;
}

#banner{
    height: 400px;
    justify-content: center;
    background-image: url(../images/ImagensGeral/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 100px;
    height: 100px;
    background-image: url(../images/logo/logo_vou_de_bike.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(56, 56, 56);
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    gap: 100px;
    list-style: none;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: white;
}

/* TOPICOS */
#topicos{
    gap: 20px;
    justify-content: center;
}

.topicoGrupo{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px 0px;
}

.topicoImagem{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-top: 20px;
}

.topicoGrupo button{
    border: none;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px;
    cursor: pointer;
}

#topicoDicas{
    background-image: url(../images/ImagensGeral/dica.png);
}

#topicoNoticias{
    background-image: url(../images/ImagensGeral/noticias.png);
}

#topicoEquipamentos{
    background-image: url(../images/ImagensGeral/equipamentos.png)
}

/* agenda */
#agenda{
    flex-direction: column;
    background-color: rgb(202, 202, 202);
    gap: 20px;
}

#seletores{
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

#seletores select{
    width: 300px;
    height: 30px;
}

#eventos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.evento{
    width: 200px;
    height: 150px;
    display: flex;
    font-size: 8pt;
}

.dataEvento{
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.evento button{
    border: none;
    border: 1px solid black;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

.descEvento{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 8px;
}




/* email */
#emailSecao{
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#email{
    width: 80%;
    height: 30px;
}

#cadastrar{
    width: 200px;
    background-color: black;
    color: white;
}




/* footer */
footer {
    width: 100%;
    background-color: rgb(56, 56, 56);
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.redes{
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 8pt;
    text-align: center;
}

.redes img{
    width: 100%;
}