#catalogoItems{
    flex-direction: column;
    align-items: center;
}

.item{
    width: 80%;
}

#menuPc{
    display: none;
}

#menuMobile{
    width: 100%;
    background-color: var(--corPrimaria);
    display: none;
    justify-content: center;
}

#menuMobile ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}

#btnMobile{
    padding: 10px;
    border: none;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    color: var(--branco);
}